[Unit]
Description=Playground service to understand systemd units
After=network.target

[Service]
User=nicoretti
Group=nicoretti
ExecStartPre=/home/nicoretti/.local/bin/uv run --script /home/nicoretti/Projects/playground/systemd/pre-start.py
ExecStart=/home/nicoretti/.local/bin/uv run --script /home/nicoretti/Projects/playground/systemd/service.py
# ExecStop=docker stop <container> 
# ExecStop=docker rm -f <container>
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

